@{
    var redirectUrl = Url.Action("Reports", "Admin");
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0;url=@redirectUrl" />
</head>
<body>
    <p>Dacă nu ești redirecționat automat, <a href="@redirectUrl">apasă aici</a>.</p>
</body>
</html>






































